@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
}

.outer-container {
    /* padding: 20px; */
}

.inner-container1 {
    padding: 25px 30px;
    background-color: white;
    border-top: 1px solid black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inner-container2 {
    padding: 20px 10px;
    background-color: rgb(250, 245, 245);
}

h2 {
    margin-bottom: 1rem;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter input {
    flex: 1;
}

input {
    padding: 8px 18px;
    /* margin-right: 0.5rem; */
    border: 0.1px solid orangered;
    border-radius: 5px;
    /* margin-left: 3px; */
}

input::placeholder {
    color: black;
    font-size: 0.9rem;
}




button {
    padding: 8px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.profile-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 20px rgba(255, 145, 0, 0.12);
    filter: brightness(110%);
}

.profile-card h3 {
    margin: 3px 0;
    margin-left: 2px;
}

.profile-card p {
    margin: 2px 0;
}

.profile-card img {
    width: 100%;
    border-radius: 5px;
}

.know-more-button {
    margin-top: 10px;
    padding: 8px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
}

.know-more-button:hover {
    background-color: transparent;
    color: black;
    outline: 1px solid orange;
}

@media screen and (max-width: 1024px) {
    .inner-container1{
        /* justify-content: space-between; */
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 834px) {
    .inner-container1{
        gap: 10px 20px;
    }

    .profile-card {
        width: 335px;
    }

}

@media screen and (max-widht: 425px) {
    .inner-container1{
        gap: 50px;
        background-color: rebeccapurple;
    }
}