/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.container {
  margin: 0 auto;
}

.filter-section {
  margin-bottom: 20px;
}

input{
  margin-bottom: 4px;
}

.filter-section label,
.filter-section input,
.filter-section button {
  display: block;
  margin-bottom: 10px;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid black;
}

.filter-container label {
  margin-right: 10px;
  font-size: 18px;
}

p{
  margin: 1px 0;
}

.filter-container input[type="text"] {
  padding: 8px 18px;
  border: 1px solid orangered;
  border-radius: 4px;
  /* background-color: #f0f0f0; */
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.filter-container input[type="text"]::placeholder {
  color: #000000;
}

.filter-container input[type="text"]:focus {
  /* outline: none; */
  outline: 2px solid orangered;
  border: none;
  color: black;
}


.filter-container button{
  padding: 10px 28px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: black;
  color: white;
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.filter-container button:hover{
  background-color: transparent;
  outline: 1px solid orangered;
  color: black;
}



.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  padding: 30px 20px;
  background-color: rgb(250, 245, 245);
}

.job-card {
  border: 0.1px solid #ddd;
  padding: 25px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
  transition: box-shadow 0.3s ease;
  width: 360px;
  filter: brightness(110%);
  cursor: pointer;
  border-radius: 8px;
  height: 250px;
}


.job-card img {
  width: 100%;
  height: 100%;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.primary-btn{
  color: orangered;
}


.para-div{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 2rem;
}


.job-profile{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.job-card p:nth-child(3) {
  /* color: rgb(255, 8, 0) !important;   */
}

.job-card p:nth-child(4) {
  /* color: chartreuse !important; */
  padding-bottom: 15px;

}

/* .job-card div{
    display: flex;
} */


.job-card p:nth-child(5) {
  color: rgb(0, 0, 0) !important;
  font-size: 18px;
  /* padding-bottom: 10px; */

  /* padding-bottom: 25px; */

}


.job-card p:nth-child(6) {
  color: rgb(0, 0, 0) !important;
  /* padding-bottom: 25px; */

}


.job-card p:nth-child(7) {
  color: rgb(0, 0, 0) !important;
  /* padding-bottom: 25px; */

}


.job-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-card h3 {
  /* margin-top: 12px; */
  /* padding-bottom: 5px; */
}

.Job-opening{
  font-weight: bold;
}

.right-arrow{
  color: orangered;
  margin-right: 4px ;
  font-size: 1.1rem;
}
