/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Arial, sans-serif; */
    /* background-color: #f2f2f2; */
    overflow-x: hidden;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    height: auto;
    background-color: rebeccapurple;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section label,
.filter-section input,
.filter-section button {
    display: block;
    margin-bottom: 10px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}





/* Apply basic styles and layout to the filter and card containers */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  .filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .filter-container label {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .filter-container input[type="text"],
  .filter-container button {
    padding: 8px 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    font-size: 18px;
  }
  
  .filter-container input[type="text"]::placeholder {
    color: #999;
  }
  
  .filter-container input[type="text"]:focus,
  .filter-container button:hover {
    background-color: #e0e0e0;
  }
  









  .card-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr  ;
    /* grid-gap: 20px; */
    grid-row-gap: 10px;
    padding: 10px;
  }
  
  .job-card {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 450px;
    
  }


  .job-card:hover {
    filter: brightness(110%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }



  .job-card p{
        /* color: red; */
        margin-bottom: 2px;
  }

  .title-div p{
font-size: 2rem;
font-weight: 600;
margin-left: 10px;
  }


  .job-card img{
height: auto;
width: 150px;
  }





  .job-card p:nth-child(3) {
 /* color: rgb(255, 8, 0) !important;   */
  }

  .job-card p:nth-child(4) {
    /* color: chartreuse !important; */
    padding-bottom: 25px;
    
}

/* .job-card div{
    display: flex;
} */


.job-card p:nth-child(5) {
    color: rgb(0, 0, 0) !important;
    font-size: 18px;
    padding-bottom: 10px;
   
    /* padding-bottom: 25px; */
    
}


.job-card p:nth-child(6) {
    color: rgb(0, 0, 0) !important;
    /* padding-bottom: 25px; */
    
}


.job-card p:nth-child(7) {
    color: rgb(0, 0, 0) !important;
    /* padding-bottom: 25px; */
    
}


    /* .img-title-div{
        display: flex; */
    /* justify-content: center; */
    /* align-items: center;
  } */
  
  .job-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-card h3 {
    margin-top: 12px;
    padding-bottom:5px;
  }
  




  /* Add more styling as per your requirements */
  /* Add responsive styles for smaller screens */


  
  @media screen and (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  






    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}




  @media screen and (max-width: 768px) {
    .cards-section {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .filter-container {
        flex-wrap: wrap;
        width: 100%;
    }



      .card-container {
        grid-template-columns: 1fr;
    }



    .job-card{
        width: 100%;
    }

   

}






@media screen and (max-width: 600px) {





    

        .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
}




@media screen and (max-width: 450px) {






    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}



@media screen and (max-width: 400px) {




    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}




@media screen and (max-width: 360px) {
    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}
