*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* Basic styling to create the layout */
.outer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.inner-section1 {
    width: 30%;
    padding: 20px;
    padding-bottom: 0;
}

.inner-section2 {
    width: 70% !important;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}



.img-div img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.profile-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.job-title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.profile-para {
    margin-top: 20px;
    text-align: justify;
}

.skills {
    margin-top: 20px;
    text-align: justify;
}


.outer-container {
    margin-top: 60px;
    margin-bottom: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    background-color: rgba(255, 166, 0, 0.16);
}

.inner-section1 {
    /* background-color: rgb(255, 255, 255); */
    border-right: 1px dotted black;
}

.skills{
    margin-top: 4rem;
    /* background-color: red; */
}

.skills span {
    /* background-color: rgb(197, 243, 255); */
    background-color: aliceblue;
    border: 1px dotted blue;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 3px;
    margin-bottom: 3px; 
    font-weight: bold;
}



.span-div {
    text-align: center;
}

.span-div p {
    padding-bottom: 12px;
}




.inner-section2 {
    justify-content: space-between;
    background-color: #ffffff;
    /* background-color: rebeccapurple; */
}

.div1 {
    flex: 1;
    padding: 20px;
    /* background-color: whitesmoke; Background color for div1 */
    /* background-color: beige; */
}

.div2 {
    flex: 1;
    /* padding: 20px; */
    background-color: #ffffff;
    /* background-color: yellow; */
}




.outercontainer-2 {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    /* justify-content: space-around; */
    gap: 100px;
}





/* tab ki css */



/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    /* margin-top: 10%; */
    /* background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33.33%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    /* background-color: #ddd; */
    /* background-color: aliceblue; */
    background-color: lightgoldenrodyellow;
}

/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    background-color: rgba(255, 166, 0, 0.85);
    color: white;
    border: 1px solid black;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    border-bottom: 1px solid #ccc;
    border-top: none;
    background-color: whitesmoke;
    /* background-color: rgba(240, 248, 255, 0.843); */
    padding: 20px;
}

/* tab ki css */




/* .outer-container-3 ki css */

.outercontainer-3 {
    width: 100%;
    /* display: flex; */
    /* background-color: rebeccapurple; */
    background-color: aliceblue;
}

/* Style for the inner sections */
.innersection-3 {
    width: 100%;
    margin-bottom: 10px;
    /* background-color: red; */
    border: 0.1px dashed black;
    padding: 20px;
    border-radius: 8px;
}


/* .outer-container-3 ki css */





/* .outercontainer-4 */


.outercontainer-4 {
    width: 100%;
    display: flex;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

/* Style for the inner sections */
.innersection-4 {
    /* width: 30%; */
    height: 15vh;
    padding: 10px;
}


.tabcontent-1 {
    display: block;
}

.div-projects {
    margin: 0 auto;
}

.button {
    text-align: center;
    margin-top: 10px;
}

.button button {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    /* background-color: rgb(0, 191, 255); */
    background-color: black;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button button:hover{
    background-color: orange;
}



.content-heading {
    line-height: 10px;
    margin-bottom: 50px;
}



.content-heading2 {
    line-height: 10px;
}


.innersection-4 img {
    height: 80px;
    width: 80px;
}


.up-para {
    font-weight: 500;
    color: rgb(3, 3, 154);
    color: orangered;
    padding-bottom: 10px;

}


.div-projects a {
    text-decoration: none;
    color: rgb(0, 191, 255);
}

/*         inner section 4 ki css */


























@media screen and (max-width: 850px) {
    .outer-container {
        flex-direction: column;
        margin-top: 0;
    }

    .inner-section1 {
        width: 100%;
    }

    .inner-section2 {
        width: 100% !important;
        /* background-color: red; */
    }
}




@media screen and (max-width: 589px) {
    .outercontainer-2 {
        display: flex;
        flex-direction: column;
    }

    .innersection-2 {
        width: 100%;
        text-align: center;
    }

    .outercontainer-4 {
        margin-bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

}







@media screen and (max-width: 450px) {

    .outercontainer-4 {
        width: 100%;
        display: flex;
        background-color: rgb(247, 253, 255);
        flex-direction: column;
        margin-bottom: 30px;
    }

}





@media screen and (max-width: 400px) {}






.out {
    width: 100%;
    /* margin: 0    ; */
    background-color: chartreuse;
}