@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rebeccapurple; */
    background-color: rgba(238, 206, 148, 0.405);
}

.signUp-heading {
    text-align: center;
    margin-top: 2rem;
}

.signUp-heading h1 {
    line-height: 20px;
}

.signUp-container {
    /* border: 0.1px solid black; */
    width: 30%;
    padding: 2rem;
    box-shadow: 0 0 5px rgb(23, 23, 23);
    border-radius: 10px;
    margin: 0 auto;
    background-color: aliceblue;
}


.google-btn {
    background-color: black;
    display: inline;
    height: 33px;
    color: white !important;
}

.OR {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 33px;
    margin-top: 1.2rem;
    /* background-color: rebeccapurple; */
}

.line {
    height: 1px;
    width: 40%;
    background-color: grey;
}

.fab {
    color: orange;
}

.signUp-google {
    box-shadow: 0 0 3px rgb(240, 176, 73);
    border-radius: 5px;
    border: none;
    outline: none;
}

.signUp-google button {
    color: black;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
}

div {
    margin-bottom: 15px;
}



label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
a {
    width: 96%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

.firstName-div {
    width: 97%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

button {
    cursor: pointer;
    /* border: 0.1px solid black; */
    border: none;
}

.submit {
    background-color: black;
    cursor: pointer;
    border: 0.01px solid black;
    transition: 0.2s ease-in-out;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.submit:hover {
    transform: scale(1.05);
}


form p {
    text-align: center;
}

.sign {
    text-align: left;
}

.sign span {
    color: blue;
}

.whatsapp-notice {
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .signUp-container {
        width: 40%;
    }
}

@media screen and (max-width: 834px) {
    .signUp-container {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .signUp-container {
        width: 60%;
    }
}

@media screen and (max-width: 425px) {
    .signUp-container {
        width: 80%;
        padding: 1em;
    }

    .signUp-heading h1 {
        line-height: 30px;
    }

}

@media screen and (max-width: 375px) {
    .whatsapp-notice{
        gap: 0;
    }

    .whatsapp-notice label{
        width: 85%;
        font-size: 0.9rem;
    }

}