@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.color{
    color: orange ;
}

.category-h6{
    color: black;
    font-weight: 600;
    font-family: 'Roboto', sans-serif  ;
}

.vacany-p{
    color: black;
}

.banner {
    width: 100%;
    height: 25vh;
    background-color: rgba(255, 198, 91, 0.688);
    text-align: center;
    padding: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
}

.banner h1 {
    margin-bottom: 2rem;
}


.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .09);
    border: 2px solid transparent;
    transition: .5s ease-in-out;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}

.nav-pills .nav-item .active {
    border-bottom: 2px solid orange;
}

.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}

.far, .fa{
    color: orange !important;
}

.btn-primary{
    background-color: orange;
    border: none;
}

.btn-primary:hover{
    background-color: black;
}


/* .login-btn{
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-btn:hover{
    color: white;
    background-color: orange;
} */

@media screen and (max-width: 834px) {
    .banner {
        height: 15vh;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        height: 20vh;
    }
}

@media screen and (max-width: 426px) {
    .banner {
        height: 33vh;
    }
}