  /* Add more styling as per your requirements */
  /* Add responsive styles for smaller screens */


  
  @media screen and (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .job-card{
        max-width: 360px;
    }
  






    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}




  @media screen and (max-width: 768px) {
    .cards-section {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .filter-container {
        flex-wrap: wrap;
        width: 100%;
    }



      .card-container {
        grid-template-columns: 1fr;
    }



    .job-card{
        width: 100%;
    }

   

}






@media screen and (max-width: 600px) {





    

        .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
}




@media screen and (max-width: 450px) {






    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}



@media screen and (max-width: 400px) {




    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}




@media screen and (max-width: 360px) {
    .job-card p:nth-child(3) {
        /* color: rgb(255, 8, 0) !important;   */
         }
       
         .job-card p:nth-child(4) {
           /* color: chartreuse !important; */
           padding-bottom: 25px;
           
       }
       
       /* .job-card div{
           display: flex;
       } */
       
       
       .job-card p:nth-child(5) {
           color: rgb(0, 0, 0) !important;
           font-size: 18px;
           padding-bottom: 10px;
          
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(6) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
       
       
       .job-card p:nth-child(7) {
           color: rgb(0, 0, 0) !important;
           /* padding-bottom: 25px; */
           
       }
}
